![download.png]()

# *Data Anlaysis (Salaries Analysis)*

## Today's Outline
- Full Data Analysis Case-study
    - Salaries Analysis

## Case-study: Salaries EDA

This dataset can be found on Kaggle:
https://www.kaggle.com/kaggle/sf-salaries

#### Import pandas as pd

#### Read Salaries.csv as a dataframe

#### Check the head of the DataFrame

#### Use the .info() method to find out how many entries there are

#### What is the average BasePay ?

#### What is the highest amount of OvertimePay in the dataset ?

#### What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).

#### How much does JOSEPH DRISCOLL make (including benefits)?

#### What is the name of highest paid person (including benefits)?

#### What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?

#### What was the average (mean) BasePay of all employees per year? (2011-2014) ?

#### How many unique job titles are there?

#### What are the top 5 most common jobs?

#### How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

#### How many people have the word Chief in their job title? (This is pretty tricky)

#### Bonus: Is there a correlation between length of the Job Title string and Salary?

# GOOD LUCK!